<h2>Información de su compra:</h2>

<p><b>Fecha y hora:</b>{{ticket.purchase_datetime}}</p>
<p><b>Código de compra:</b>{{ticket.code}}</p>
<p><b>Costo total:</b>{{ticket.amount}}</p>

<button id="closeButton">Cerrar</button>
<script src="/js/ticket.js"></script>